APP_NAME=bisakerja-api
APP_ENV=development
HTTP_PORT=8080
SHUTDOWN_TIMEOUT=10s
WORKER_TICK_INTERVAL=15s
SCRAPER_PAGE_SIZE=30
SCRAPER_MAX_PAGES=1
SCRAPER_KEYWORDS=backend,frontend,intern
AUTH_JWT_SECRET=change-this-jwt-secret
AUTH_ACCESS_TOKEN_TTL=15m
AUTH_REFRESH_TOKEN_TTL=168h
